<div class="bodyDiv mx-5 py-0">
  <div class="container">
    <div class="text-center">
      <app-loader *ngIf="loader"></app-loader>
    </div>

    <app-back-btn></app-back-btn>
    <div class="row postValue mt-4 mx-0">
      <h1>
        Albums <span class="deco text-center"> {{ RequireAlbum.length }} </span>
      </h1>

      <hr />
      <div class="heading mb-4" *ngFor="let post of RequireAlbum | paginate:{
        itemsPerPage:+pageSize,
        currentPage:page,totalItems: count
        
    }; let i = index">
        <fa-icon [icon]="facomment" class="fontIcon"></fa-icon>
        <span class="mx-3 albumcss" (click)="albumPics(post.userId, post.id)">
          <strong>{{ post.title }}</strong>
        </span>
        <hr />
      </div>
      <!-- <app-pagination></app-pagination> -->
    </div>
    <div class="row mt-3 p-2">
      <div class="col-10 ml-0 p-0">
        <pagination-controls
          previousLabel="prev"
          nextLabel="NEXT"
          (pageChange)="onPageChange($event)"
        ></pagination-controls>
      </div>
      <div class="col-2">
        <select (change)="onPageSizeChange($event)">
          <option *ngFor="let size of pageSizes">
            {{ size }}
          </option>
        </select>
      </div>
    </div>
  </div>
</div>
