<div class="bodyDiv  mx-5 py-0">
    
    <div class="container">
        <div class="text-center">
             <div class="text-center">
            <app-loader *ngIf="loader" ></app-loader>
        </div>
        </div>

        <app-back-btn></app-back-btn>
        <div class="row mb-4">
            <div class="col">
                <img *ngFor="let pics of post | paginate:{
                    itemsPerPage:+pageSize,
                    currentPage:page,totalItems: count
                    
                }; let i = index" class="img-thumbnail "
                src="{{pics.url}} " alt="">
            </div>
          
            <!-- <app-pagination class="mt-3"></app-pagination> -->
        </div>
        <div class="row">
            <div class="col-10 ml-0 p-0" >
                
                <pagination-controls 
                previousLabel="prev"
                nextLabel="NEXT"
                (pageChange)="onPageChange($event)"></pagination-controls>
            </div>
            <div class="col-2">

                <select (change)="onPageSizeChange($event)">
                    <option *ngFor="let size of pageSizes">
                        {{size}}
                    </option>
                </select>
            </div>
        </div>
        
    </div>
    
</div>
