
.bodyDiv{
    background-color: lightgray;
}
.postValue{
    border: 1px solid black;
    background-color: rgb(160, 160, 236);
}
.heading{
    font-size: large;
    color: blue;
}
a:hover{
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, red, yellow);
    
    cursor: pointer;
}
.myClass {
    display: none;
}
.commentSection{
    background-color: wheat;
}