
<div class="bodyDiv  mx-5 py-2">
    
    <div class="container">
         <div class="text-center">
            <app-loader *ngIf="loader" ></app-loader>
        </div>

        <app-back-btn></app-back-btn>
        
        <div class="row postValue my-3 mx-0 py-2" *ngFor="let post of RequirePost">
            <div class="heading mb-4">
                <u>{{post.title}}</u>
            </div>
            <p> {{post.body}} </p>
            <span>
            <fa-icon [icon]="author"> </fa-icon> <label for="" class="mx-2"  (click)="userDetail(post.userId  )"> by 
                <a >{{ user[post.userId -1].ele.username }} </a>
            </label>|
            <span>
                <fa-icon [icon]="cIcon"> </fa-icon> <label for="" class="mx-2" > <a  (click)="commentClick(post.id )">comments</a></label></span>
            </span>
        </div>
    </div>
    
</div>