
<div class="bodyDiv  mx-5 py-2">
    
    <div class="container">
         <div class="text-center">
            <app-loader *ngIf="loader" ></app-loader>
        </div>

        <app-back-btn></app-back-btn>
        
        <div class="row postValue  mt-4 mx-0" >
            <h1 > Not completed Todos  <span class="deco text-center   "> {{NotCompleteTodos.length}} </span></h1>
            
            <div class="heading mb-4 " *ngFor="let todo of NotCompleteTodos">
                <input type="checkbox" class="mx-3">
                <label for="">
                    {{todo.title}}
                </label>
                
            </div>
              
        </div>
        
        <div class="row postValue mt-4 mx-0" >
            <h1 >completed Todos  <span class="deco text-center"> {{CompleteTodos.length}} </span></h1>
            
            <div class="heading mb-4 " *ngFor="let todo of CompleteTodos">
                <input type="checkbox" checked class="mx-3">
                <label for="">
                    <s>

                        {{todo.title}}
                    </s>
                </label>
                
            </div>
              
        </div>
    </div>
    
</div>